@import "./variables";

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.0625rem, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0.125rem, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-0.1875rem, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(0.25rem, 0, 0);
  }
}

.label-error-effect {
  color: #ff3a31;
  transition: color 0s;
}

.input-error-msg {
  display: flex;
  margin-top: 0.5rem;
}

.input-error-msg-effect {
  color: #ff3a31;
  font-size: 0.85rem;
  text-align: justify;
  white-space: normal;
}
