<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <title>News</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800&display=swap');
  </style>
</head>

<body>
  <div
    style="background-color: #e3e6fc; font-family: Mulish, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 150%; margin: auto; width: 540px;">
    <div style="padding: 40px 40px;">
      <div style="margin-top: 40px;">
        <a href="https://naffiti.com">
          <img style="font-size: 32px; font-weight: bold;" src="https://naffiti.com/naffiti.png"
            title="Marketplace Logo" alt="Naffiti">
        </a>
      </div>
      <div style="font-size: 32px; font-weight: bolder; line-height: 100%; margin-top: 80px;">
        <%= nftName %> is now on Naffiti!
      </div>
      <div style="margin-top: 32px;">
        <img style="border-radius: 10px; font-size: 64px; font-weight: bold; margin: auto; width: 100%;"
          src="https://ksweb.synology.me/~kenso/test.png" title="NFT Product" alt="Product Image">
      </div>
      <div style="color: #808080; font-size: 18px; margin-top: 32px;">
        <p
          style=" -webkit-box-orient: vertical; display: -webkit-box; height: 140px; -webkit-line-clamp: 5; line-height: 150%; overflow: hidden; text-overflow: ellipsis;">
          <%= nftDescription %>
        </p>
      </div>
      <a href="<%= nftURL %>" style="text-decoration: none;">
        <div
          style="background-color: #2c43ad; border-radius: 32px; color: #fff; font-weight: bold; height: 50px; line-height: 50px; margin-top: 40px; text-align: center; width: 100%;">
          View NFT
        </div>
      </a>
    </div>
    <div style="background-color: #f3f4f8; color: #808080; height: 120px; line-height: 150%; margin-top: 80px;">
      <div style="padding: 25px 40px;">
        ©2021 Naffiti by Huobi. All rights reserved<br>
        URL: <a style="color: #2c43ad;" href="https://www.naffiti.com">www.naffiti.com</a><br>
        E-mail: <a style="color: #2c43ad;" href="mailto:support@naffiti.com">support@naffiti.com</a><br>
        <!-- Not Implemented
                If you no longer wish to receive these emails, unsubscribe <a style="color: #2c43ad;" href="">here</a> -->
      </div>
    </div>
  </div>
</body>

</html>