<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Item Sold</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800&display=swap');
    </style>
</head>

<body>
    <div
        style="background-color: #e3e6fc; font-family: Mulish, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 150%; margin: auto; width: 540px;">
        <div style="padding: 40px 40px;">
            <div style="margin-top: 40px;">
                <a href="https://naffiti.com">
                    <img style=" font-size: 32px; font-weight: bold;" src="https://naffiti.com/naffiti.png"
                        title="Marketplace Logo" alt="Naffiti">
                </a>
            </div>
            <div style="font-size: 32px; font-weight: bolder; line-height: 100%; margin-top: 80px; color: #222222;">
                Congratulations, you have purchased an item!
            </div>
            <div
                style="background-color: #fff; border: 1px solid #cad0ea; border-radius: 10px; height: 120px; margin-top: 50px; width: 100%; display: flex; align-items: center;">
                <div>
                    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="nft-image"
                        width="110" height="110" style="border-radius: 0.625rem; display: block; margin: 5px">
                </div>
                <table style="padding: 20px 20px; color: #222222;">
                    <tbody>
                        <tr>
                            <td style="width: 90px;">
                                Item:
                            </td>
                            <td style="font-weight: bold; font-size: 13px;">
                                Everydays - The First 5000 Days
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sale Price:
                            </td>
                            <td style="font-weight: bold; font-size: 13px;">
                                0.05 ETH
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Buyer:
                            </td>
                            <td style="font-weight: bold; font-size: 13px;">
                                CryptoPunkz
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="<%= verifyURL %>" style="text-decoration: none;">
                <div
                    style=" background-color: #2c43ad; border-radius: 32px; color: #fff; font-weight: bold; height: 50px; line-height: 50px; margin-top: 40px; text-align: center; width: 100%;">
                    View Item
                </div>
            </a>
            <div style="color: #808080; margin-top: 40px;">
                If you don’t recognize this activity, please contact customer support immediately at:
            </div>
            <div style="margin-top: 15px;">
                <a style="color: #2c43ad;" href="https://www.naffiti.com/support">https://www.naffiti.com/support</a>
            </div>
        </div>
        <div style="background-color: #f3f4f8; color: #808080; height: 120px; line-height: 150%; margin-top: 15px;">
            <div style="padding: 25px 40px;">
                ©2021 Naffiti by Huobi. All rights reserved<br>
                URL: <a style="color: #2c43ad;" href="https://www.naffiti.com">www.naffiti.com</a><br>
                E-mail: <a style="color: #2c43ad;" href="mailto:support@naffiti.com">support@naffiti.com</a>
            </div>
        </div>
    </div>
</body>

</html>