<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <title>Rebound Email OTP Request</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800&display=swap');
  </style>
</head>

<body>
  <div
    style="background-color: #e3e6fc; font-family: Mulish, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 150%; margin: auto; width: 540px;">
    <div style="padding: 40px 40px;">
      <div style="margin-top: 40px;">
        <a href="https://naffiti.com">
          <img style=" font-size: 32px; font-weight: bold;" src="https://naffiti.com/naffiti.png"
            title="Marketplace Logo" alt="Naffiti">
        </a>
      </div>
      <div style="font-size: 32px; font-weight: bolder; line-height: 100%; margin-top: 80px;">
        Rebound Email
      </div>
      <div style=" color: #808080; font-size: 18px; font-weight: 600; margin-top: 32px;">
        Please enter this confirmation code in the window where you can rebound email of your account:
      </div>
      <div
        style="background-color: #fff; border: 1px solid #cad0ea; border-radius: 16px; height: 120px; margin-top: 50px; width: 100%;">
      
        <div style="
        color: #000;
        font-size: 2rem;
        font-weight: bold;
        line-height: 150%;
        margin-top: 36px;
        text-align: center;">OTP</div>
            
      </div>

      <div style="color: #808080; font-weight: 600; margin-top: 80px;">
        If you don’t recognize this activity, please contact customer support immediately at:
      </div>
      <div style="font-weight: 600; margin-top: 15px;">
        <a style="color: #2c43ad;" href="https://www.naffiti.com/support">https://www.naffiti.com/support</a>
      </div>
    </div>
    <div style="background-color: #f3f4f8; color: #808080; font-weight: 600; height: 120px; line-height: 150%; margin-top: 15px;">
      <div style="padding: 25px 40px;">
        ©2021 Naffiti by Huobi. All rights reserved<br>
        URL: <a style="color: #2c43ad;" href="https://naffiti.com">www.naffiti.com</a><br>
        E-mail: <a style="color: #2c43ad;" href="mailto:marketplace@naffiti.com">marketplace@naffiti.com</a>
      </div>
    </div>
  </div>
</body>

</html>